/**
 * BlockCatalog - Admin only styles
 */

:root {
	--index-progress-bg: hsl(0deg 0% 93.3%);
	--index-progress-shadow: hsla(0deg 0% 0% / 25%);
	--index-progress-value: hsl(206.9deg 67.8% 41.4%);
}

.index-progress-bar {
	background-color: var(--index-progress-bg);
	border-radius: 2px;
	box-shadow: 0 2px 5px var(--index-progress-shadow) inset;
	width: 300px;
}

.index-progress-bar::-webkit-progress-value {
	background-color: var(--index-progress-value);
}
