name: JS Linting

on:
  push:
    branches:
      - develop
      - trunk
    paths:
      - '**.js'
  pull_request:
    branches:
      - develop
    paths:
      - '**.js'

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup node and npm cache
      uses: actions/setup-node@v3
      with:
        node-version-file: .nvmrc
        cache: npm

    - name: Install Node dependencies
      run: npm ci --no-optional

    - name: Get updated JS files
      id: changed-files
      uses: tj-actions/changed-files@v39
      with:
        files: |
          **/*.js
          **/*.json

    - name: Run JS linting
      if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
      run: |
        npx 10up-toolkit lint-js ${{ steps.changed-files.outputs.all_changed_files }}
